body {
    margin: 5vw;
}

.noirblack {
    color: #0a0a0a;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.introduction {
    background-color: rgba(114, 65, 0, 0.356);
}

.dressingroom {
    background-color: rgba(114, 65, 0, 0.356);
    background-image: url(util/firefly-dressingroom.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.audiobooth {
    background-color: rgba(114, 65, 0, 0.356);
    background-image: url(util/firefly-audiobooth.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.securityfootage {
    background-color: rgba(114, 65, 0, 0.356);
    background-image: url(util/firefly-securityfootage.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

h1 {
    color: #201010;
    font-size: 48px;
    font-weight:700;
    font-family: 'Cinzel Decorative', serif;
}

.ctabtn {
    text-align: center;
    display:block;
    text-align: center;
    width: 50vw;
    color: #201010;
    font-size: 48px;
    font-weight:700;
    font-family: 'Cinzel Decorative', serif;
    background-color: #f1f1f1ad;
    border-radius: 100px;
    padding:5vw;
}

.bodytext {
    color: #201010;
    font-size: 36px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}

.persontitle {
    color: #201010;
    font-size: 48px;
    font-weight:700;
    font-family: 'Cinzel Decorative', serif;
    display: flex;
    align-self: center;
    flex-direction: column;
}

img {
    width: 40vw;
    height:auto;
    border-radius: 100%;
}

.suspect {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap:1vh;
}

.biotextwrapper {
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.biotextwrapper p {
    vertical-align: middle;
}

.description {
    padding: 5vw;
    background-color: #f1f1f1ad;
    border-radius: 100px;
}

.protipp {
    font-weight: bold;
    }